@media (max-width: 991px){
    .navbar-brand{
        position: unset;
        top: unset;
    }
    .navbar-brand img {
        width: 3.5rem;
    }
    .btnAdd{
        visibility: visible;
        transform: scale(1);
    }
    .item{
        width: 100%;
    }
    .item .listPratos{
        grid-template-columns: repeat(2, minmax(20rem, 1fr));
    }
    .title-navbar{
        display: block;
    }
}

@media (max-width: 765px){
    .img-mobile{
        display: block;
    }
    .img-desktop{
        display: none;
    }
    .item .listPratos{
        grid-template-columns: repeat(1, minmax(20rem, 1fr));
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 0px;
        gap: 0;
    }
    .container{
        max-width: 100%;
    }
    .item-content {
        border-radius: 0px;
        gap: 0;
        align-items: center;
        background-color: #72727217;
        padding-bottom: 10px;
        min-height: 180px;
        border-bottom: 1px solid #9999994f;
    }
}
@media (min-width: 766px){
    .img-mobile{
        display: none;
    }
    .img-desktop{
        display: block;
    }
}

/* ----- Tamanho de monitor menor ----- */
@media (max-height: 760px){
    .btMinos,
    .btPlus{
        width: 20px;
        border: none;
        border-radius: 50%;
        text-align: center;
        align-items: center;
    } 
}

/* --- Mobile ---*/
@media (max-width: 640px){
    .btn-modal{
        font-size: 16px;
    }
    .btMinos,
    .btPlus{
        width: 18px;
        border: none;
        border-radius: 50%;
        text-align: center;
        align-items: center;
    } 
}