@media (max-width: 991px){
    .navbar-brand{
        position: unset;
        top: unset;
    }
    .navbar-brand img {
        width: 3.5rem;
    }
    .btnAdd{
        visibility: visible;
        transform: scale(1);
    }
}

@media (max-width: 765px){
    .img-mobile{
        display: block;
    }
    .img-desktop{
        display: none;
    }
}
@media (min-width: 766px){
    .img-mobile{
        display: none;
    }
    .img-desktop{
        display: block;
    }
}

/* ----- Tamanho de monitor menor ----- */
@media (max-height: 760px){
    .btMinos,
    .btPlus{
        width: 24px;
        border: none;
        border-radius: 50%;
        text-align: center;
        align-items: center;
    } 
}

/* --- Mobile ---*/
@media (max-width: 640px){
    .btn-modal{
        font-size: 16px;
    }
}