@media (max-width: 991px){
    .navbar-brand{
        position: unset;
        top: unset;
      
    }
    .navbar-nav .nav-link{
        background-color: #fdf8ed;
        border: 1px solid #f3ebda;
        border-radius: 0;
        box-shadow: unset;
        color: #181818;
    }
    .navbar-brand img {
        width: 3.5rem;
    }
    .btnAdd{
        visibility: visible;
        transform: scale(1);
    }
    .item{
        width: 100%;
    }
    .item .listPratos{
        grid-template-columns: repeat(2, minmax(20rem, 1fr));
    }
    .title-navbar{
        display: block;
    }
    .txt-saudacao p{
        width: 60%;
    }
    #open-car{
        z-index: 100;
        display: block;
        position: fixed;
        bottom: 20px;
        right: 20px;
        border: none;
        padding: 9px 24px;
        border-radius: 50%;
        background-color: #198754;
        align-items: center;
        color: #fff;
        box-shadow: 2px 2px 4px #0b3b2552;
    }
    .counter-cart-mobile{
        position: relative;
        width: 18px;
        height: 18px;
        top: 0.5rem;
        right: 0.5rem;
        background-color: rgb(12, 2, 2);
        color: #fff;
        font-size: 12px;
        border-radius: 50%;
        text-align: center;
        padding: 0;
    }
}

@media (max-width: 765px){
    .img-mobile{
        display: block;
    }
    .img-desktop{
        display: none;
    }
    .item .listPratos{
        grid-template-columns: repeat(1, minmax(20rem, 1fr));
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 0px;
        gap: 0;
    }
    .container{
        max-width: 100%;
    }
    .conteudo{
        width: 80%;
    }
    .item-content {
        border-radius: 0px;
        gap: 0;
        align-items: center;
        background-color: #72727217;
        padding-bottom: 10px;
        min-height: 180px;
        border-bottom: 1px solid #9999994f;
    }
}
@media (min-width: 766px){
    .img-mobile{
        display: none;
    }
    .img-desktop{
        display: block;
    }
}

/* ----- Tamanho de monitor menor ----- */
@media (max-height: 760px){
    .btMinos,
    .btPlus{
        border: none;
        border-radius: 50%;
        text-align: center;
        align-items: center;
    }
    
}

/* --- Mobile ---*/
@media (max-width: 640px){
    .btn-modal{
        font-size: 16px;
    }
    .btMinos,
    .btPlus{
       width: unset;
       padding: 4px 12px;
    }  
    .btnAdd{
       width: unset;
       padding: 3px 10px;
    }
    .txt-saudacao p{
        width: 100%;
    }
    
}
@media (max-width: 440px){
    .btMinos,
    .btPlus{
       width: unset;
       padding: 4px 12px;
    } 
}