
body{
    font-family: "DM Sans", sans-serif;
    padding: 0;
    margin: 0;
}
.navbar{
    padding: 0;
    margin: 0;
    vertical-align: middle;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: #fefefe;
}
.navbar .nav-link{
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}
.navbar-nav{
    width: 100%;
    justify-content: center;
    padding: 10px 1rem;
}
.cart{
    align-items: center;
    padding: 0;
}
.counter-cart{
    position: relative;
    width: 15px;
    height: 15px;
    top: -5px;
    left: 13px;
    background-color: rgb(209, 31, 31);
    color: #fff;
    font-size: 10px;
    border-radius: 50%;
    text-align: center;
    padding: 0;
}
.cart img{
    position: relative;
    top: 7px;
}

/*
    CARRINHO DE COMPRAS
*/
.carro-overlay{
    position: fixed;
    inset: 0;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    visibility: hidden;
    transition: 0.5s ease-in-out;
    z-index: 100;
}
.carro-overlay.show{
    visibility: visible;
}
.carro.show{
    transform: none;
}
.carro{
    position: fixed;
    inset-block:0;
    right: 0;
    width: 100%;
    max-width: 420px;
    max-height: 900px;
    padding: 20px;
    background-color: #fff;
    transform: translateX(100%);
    z-index: 100;
    transition: 0.5s ease-in-out;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.carro-header{
    padding-block: 10px;
    border-bottom: 1px solid #ddd;
    position: relative;
    text-align: center;
}
.carro-close{
    position: absolute;
    left: 0;
    top: 22%;
    font-size: 24px;
    cursor: pointer;
}
.carro-body{
    display: grid;
    align-content: start;
    gap: 20px;
    padding-block: 20px;
    overflow: auto;
}

.carro-vazio{
    text-align: center;
    padding-block: 20px;
    font-size: 1.25rem;
}
.carro-footer{
    border-top: 1px solid #ddd;
    padding-block: 10px ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.carro-footer div{
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25rem;
}
.carro-footer strong{
    font-weight: 500;
}

.carro-footer button{
    padding-block: 10px;
    text-transform: uppercase;
}

/* --- Botões do carrinho --- */

.carro-limpar{ /* Botão de limpar -- */ 
    background-color: rgb(240, 240, 240);
    border: none;
    border-radius: 10px;
    font-weight: 700;
}
.carro-pedir{
    background-color: rgb(201, 125, 27);
    border: none;
    border-radius: 10px;
    font-weight: 700;
    color: #fff;
}

/* --- --- --- --- */

.carro-item{
    display: flex;
    gap: 10px;
}
.carro-item img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.carro-item-detalhe{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.carro-item-detalhe h4{
    font-size: 1rem;
    color: #9c0b1e;
}
.carro-item-detalhe h5{
    font-size: 1rem;
}
.carro-item-quantia{
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}
.carro-item-preco{
    margin-left: auto;
}
.carro-item-quantia .bi{
    opacity: 0.5;
    width: 27px;
    padding: 0.1rem;
    text-align: center;
    border-radius: 50%;
}
.carro-item-quantia .bi:hover{
    opacity: 1;
    cursor: pointer;
    background-color: #ddd;
}
.carro-item-quantia .qtd{
    width: 2rem;
    text-align: center;
}
.btn-add-carrinho{
    z-index: 200;
}
/* SLIDER --- */
#init-slide{
    margin-top: 4rem;
}
.slider-buttons{
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}

/*
    SESSAO  CARDAPIO =========================
*/
.card{
    border: none;
    background-color: #f7f7f7;
    border-radius: 20px;
    padding: 15px;
}
.card:hover{
    cursor: pointer;
}
#section-cardapio{
    text-align: center;
}
.cardapio-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.cardapio-cards{
    padding: 1rem;
}
.text-preco{
    font-weight: 700;
}
