.swiper-button-prev,
.swiper-button-next
{
    color: #ffffff;
    margin: 0px 0px;
    
}
.swiper-pagination-bullet{
    --swiper-pagination-bullet-inactive-color: #000000;
    --swiper-pagination-bullet-inactive-opacity: 0.4;
    --swiper-pagination-color: #fff;
    --swiper-pagination-bullet-size: 10px;
}